# Fidei - Take back your faith
# Copyright (C) 2022 Florian "sp1rit" <sp1rit@national.shitposting.agency>
# This file is distributed under the same license as Fidei.

[Desktop Entry]
Name=Fidei
GenericName=Bible
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=arpa.sp1rit.Fidei
Exec=fidei
Terminal=false
Type=Application
# StartupNotify=true
Categories=GNOME;GTK;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=Bible;Luther;King James;
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;